name: Exemplo Output
run-name: exemplo workflow para output, executando por ${{ github.actor}}
on:
    workflow_dispatch:
jobs:
    gerand_output:
        runs-on: ubuntu-latest
        steps:
            - name: gerando Output com Shell
              id: exemplo-output
              run: |
                ACTION_RANDOM=$(( $RANDOM))
                echo "action_random=$ACTION_RANDOM" >> $GITHUB_OUTPUT
            - name: Exibindo o Output da action exemplo output  
              run: echo "${{ steps.exemplo-output.outputs.action_random }}"
