name: Exemplo Output
run-name: exemplo workflow para output, executando por ${{ github.actor}}
on:
    workflow_dispatch:
jobs:
    gerando_output:
        runs-on: ubuntu-latest
        outputs:
            output.shell: ${{  steps.exemplo-output.outputs.action_random}}
            output.generatedpassword: ${{  steps.geeneratedpassword.outputs.password}}
        steps:
            - name: gerando Output com Shell
              id: exemplo-output
              run: |
                ACTION_RANDOM=$(( $RANDOM))
                echo "action_random=$ACTION_RANDOM" >> $GITHUB_OUTPUT
            - name: Exibindo o Output da action exemplo output  
              run: echo "${{ steps.exemplo-output.outputs.action_random }}"
            - name: Gerador de Senha
              id: generatedpassword
              uses: aammirmirza/RandomPasswordGenerator@v1.1
              with:
                length: 15
            - name: Exibindo o output da action de password
              run: echo "${{ steps.generatedpassword.outputs.password  }}"

    exibindo_valores:
        needs: [gerando_output]
        runs-on: ubuntu-latest
        steps:
            - name: Exibindo os outputs do gerando_output
              run: |
                  echo "${{ needs.gerando_output.outputs.output-shell }}"
                  echo "${{ needs.gerando_output.outputs.generatedpassword }}"
