name: Exemplo Artifact
run-name: exemplo workflow para Artifact, executando por ${{ github.actor}}
on:
    workflow_dispatch:
    
env:
    nome-artefato: teste-artefato
jobs:
    upload-artifact:
        runs-on: ubuntu-latest
        steps:
            - name: Listagem de arquivos
              run: ls
            - name: Listagem de arquivos
              run: |
                mkdir artefatos
                echo "Arquivo de teste 01" > ./artefatos/primeiro_arquivo.txt
                echo "Arquivo de teste 02" > ./artefatos/segundo_arquivo.txt
                echo "Arquivo de teste 03" > ./artefatos/terceiro_arquivo.txt
                echo "Arquivo de teste 04" > ./artefatos/quarto_arquivo.txt                
            - name: Envio dos aquivos
              uses: actions/upload-artifact@v4
              id: upload-artifact
              with:
                name: ${{ env.nome-artefato }}
                path: ./artefatos
            - name: Listagem nova de arquivos
              run: ls
            - name: endereco para obter os artefatos
              run: |
                echo "${{ steps.upload-artifact.outputs.artifact-url }}"

    download-artifact:
        runs-on: ubuntu-latest
        needs: [upload-artifact]
        steps:
          - name: Listagm de arquivo
            run: ls
          - name: Download de arquivos
            uses: actions/download-artifact@v4
            with:
              name: ${{ env.nome-artefato }}
          - name: Listagm de arquivo 2
            run: ls            
            



                  
